{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Добро пожаловать на страницу автора</h1>
<p>
  Если честно мне сложно даетя все это учить. Надеюсь старании и потраченное время себя окупит! 
  И хочу выразить благодарность курсы Я.Практикум. 
  Благодаре имя мне представилась возможность с утра до вечера заниматься кодингом(хоть и иногда надоедает)
</p>
<p> Я на самом деле изначально не планировал стать Python Dev. Но пару обзоров насчет этого языка вдохновила меня) Надеюсь не ошибся при выборе языка.</p>
<p> Мои контакты</p>
<li><a href="https://vk.com/kingofthegods007">VK</a></li>
<li><a href="https://github.com/diaskarls2">GitHub</a></li>
<li><a href="https://www.instagram.com/2d_superiority/">Instagram</a></li>
<p>Хотелось б тут прикрепить картинку своего рабочего место. Но фотография кровати думаю будет неуместен)))</p>
{% endblock %}