{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <div class="col-4 col-sm-12 col-md-3 col-xl-3">Тут была б твоя первая реклама</div>
    <div class="col-4 col-sm-12 col-md-3 col-xl-3">Тут вторая</div>
    <div class="col-4 col-sm-12 col-md-3 col-xl-3">Ну тут третья естественно(если считать умеете конечно)</div>
    <p>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
        </ul>
      </aside>
    </p>
  <div class="col-4 col-sm-12 col-md-9 col-xl-9", style="background: black;">Статья идет куда то)</div>
  <article class="col-12 col-md-9">
    <p>В будущем смогу улучшить. Но из-за того что отстаю очень сильно спешу</p>
  </article>
  </div>
{% endblock %}