{% extends 'base.html' %}
{% block header %}
  {{ group.title }} 
{% endblock header %}
{% block title %}
  Записи сообщества {{ group.title }} 
{% endblock title %}
{% block content %}
  {% for post in posts %}
    <div class="container py-5">    
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:'d E Y'}}
        </li>
      </ul> 
      <p>{{ post.text }}</p>     
      {% if not forloop.last %}<hr>{% endif %}
    </div>
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock content %}  
