{% extends 'base.html' %}
{% load  static %}
{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock %}    
{% block content %}
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date }} 
            </li>
            {% if post.group %} 
              <li class="list-group-item">
                Группа: {{ group.title }}
              <a href="{% url 'posts:group_list' post.group.slug %}"> 
                все записи группы
              </a> 
              </li> 
            {% endif %}
            <li class="list-group-item">
              Автор: {{ post.author }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора: {{ count }}
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author %}">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
        {%if user == post.author %}
          <p>
            <a class='btn btn-primary'
                href={% url 'posts:post_edit' post_id=post.pk %}
                role='button'>
                Редактировать пост
            </a>
          </p>
        {% endif %}
          <p>{{ post.text }}</p>
        </article>
      </div> 
{% endblock content %}